html{
    background: black;
}

header{
    background: darkblue;
}

nav{
    background: purple;
    color: white;
    
}

nav > ol > li {
    display: inline-block;
    width: 30%;
    text-align: center;
}

nav > ol > li > a {
    color: white;
    text-decoration: none;
}

main{
    background: darkblue;
    min-height: 600px;
}

section{
    display: inline-block;
    width: 70%;
    background: darkred;
    padding: 20px;
    min-height: 450px;
}

aside{
    padding: 15px;
    width: 22%;
    display: inline-block;
    background: lightblue;
    vertical-align: top;
    min-height: 550px;
}

footer{
    padding: 20px;
    background: white;
    text-align: center;
}
.titulo{
    color: white;
}