/*
* Aplica a todos los elementos de la página
<p> Aplica un estilo a todos los párrafos dentro de la página
.algo Aplica un estilo a todos los elementos de la página que tengan la clase algo
<p class='algo'>Un texto</p>
#unId Aplica un estilo a todos los elementos de la página que tengan el ID unId
<p id='unId'>Soy otro texto</p>

id > clase > etiqueta > universal

main > p > .principal
*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

li{
    margin-bottom: 5px;
    margin-left: 30px;
}

main{
    border: 2px solid #000;
    padding: 30px 60px;
    margin: 20px;
    /*
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    */
}

h1{
    font-size: 32px;
}

#principal{
    font-family: 'Courier New', Courier, monospace;
    color: purple;
}

.centrado{
    text-align: center;
}

.rojo{
    color: red;
}