html, body {
  background: #111;
  margin: 0;
  padding: 0;
  color: #fff;
}

nav{
  background: #fff;
  margin: 0;
  padding: 30px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vinculo {
  color: darkviolet;
  text-decoration: none;
  font-weight: bold;
  width: 30%;
  text-align: center;
  margin: 0.25em 0;
}

main{
  display: flex;
}

section{
  width: 80%;
  background: blue;
  min-height: 700px;
}

aside{
  width: 20%;
  background: green;
}